[package]
name = "verify"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
hex.workspace = true
protocol.workspace = true
serde.workspace = true
serde_json.workspace = true
md5.workspace = true
