[package]
name = "soul-core"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
anyhow.workspace = true
tokio.workspace = true
protocol.workspace = true
thiserror.workspace = true

[dev-dependencies]
hex.workspace = true
